@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
  box-shadow: 0 12px 48px 0px rgb(109 117 141 / 20%);
  background: rgb(255 255 255);
}


.main:focus {
  border: 0.3px solid rgb(43, 45, 56, 0.3);
  outline: none;
}

.main p {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
}

.btn button {
  position: relative;
  margin-top: -60px;
  padding: 6px 32px;
  font-size: 18px;
}

@media only screen and (max-width:640px) {
  .btn {
    flex-direction: column;
  }

  .btn button {
    margin: 0 1rem;
    margin-top: .5rem;
  }
}